<h1>Index</h1>


<h3>User Claims</h3>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>
<a asp-controller="Claims" asp-action="TwoYearRewards">Two Years</a> <br />
<a asp-controller="Claims" asp-action="FiveYearRewards">Five Years</a> <br />
<a asp-controller="Claims" asp-action="TenYearRewards">Ten Years</a>