<h1>Index</h1>


<a asp-controller="Policy" asp-action="UserPage">User Page</a> <br />
<a asp-controller="Policy" asp-action="ManagerPage">Manager Page</a> <br />
<a asp-controller="Policy" asp-action="AdminPage">Admin Page</a>